* {
    margin: 0;
    padding: 0;
}

.div {
    text-align: center;
}
div#bandeau {
	width: 600px;
	height: 70px;
	background-color:#00CCFF;
	width: 100%;
    text-align: center;
	}
div#contenu {
	width:600px;
	height: 750px;;
	background-color: yellow;
	width: 100%;
    text-align: center;
	}
div#piedpage {
	width: 600px;
	height: 70px;
	background-color:#33FF99;
	width: 100%;
    text-align: center;
	}
.body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.text {
    text-align: left;
}
