body {
	margin: 0;
	padding: 0;
	font-family: Arial,sans-serif;
	text-align: center;
}

.bandeau {
	text-align: center;
	background-color:#00CCFF;
	padding: 20px;
	}

.container {
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-template-rows: auto 1fr;
	gap: 10px;
	height: calc(100vh - 120px); /* Hauteur pour tenir compte du bandeau et du pied de page */
	}
.contenu {
	background-color: yellow;
	margin-left: 200px;
	padding: 350px;
	}
.pied-de-page { 
	background-color: lightgreen;
	text-align: center;
	padding: 10px;
	clear: both;
	position: absolute;
	bottom: 0;
	width: 100%;
	}