div {
    text-align: center;
}
div#bandeau {
	width:2000px;
	height:50px;
	background-color:#00CCFF;
	}
div#contenu {
	width:2000px;
	height:400px;
	background-color:#473a0686;
	}
div#piedpage {
	width:2000px;
	height:50px;
	background-color:#33FF99;
	}